@model MidCapERP.Dto.CustomerAddresses.CustomerAddressesResponseDto

<table class="table c-table c-table-stripted" id="tblCustomerAddresses">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AddressType)</th>
            <th>@Html.DisplayNameFor(model => model.Street1)</th>
            <th>@Html.DisplayNameFor(model => model.Street2)</th>
            <th>@Html.DisplayNameFor(model => model.Landmark)</th>
            <th>@Html.DisplayNameFor(model => model.Area)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.State)</th>
            <th>@Html.DisplayNameFor(model => model.ZipCode)</th>
            <th>@Html.DisplayNameFor(model => model.IsDefault)</th>
            <th>Action</th>
        </tr>
    </thead>
</table> 