@model MidCapERP.Dto.CustomerAddresses.CustomerAddressesResponseDto

<table class="table c-table c-table-stripted" id="tblCustomerAddresses">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AddressType)</th>
            <th>@Html.DisplayNameFor(model => model.Street1)</th>
            <th>@Html.DisplayNameFor(model => model.Street2)</th>
            <th>@Html.DisplayNameFor(model => model.Landmark)</th>
            <th>@Html.DisplayNameFor(model => model.Area)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.State)</th>
            <th>@Html.DisplayNameFor(model => model.ZipCode)</th>
            <th>@Html.DisplayNameFor(model => model.IsDefault)</th>
            <th class="text-end">Action</th>
        </tr>
    </thead>
</table>

<div class="customer-address-card--wrapper row">
    <div class="col-md-3 mb-2">
        <div class="c-card--wrapper c-card-sm--wrapper">
            <div class="c-card--header">
                <h4 class="c-card--header-title">
                    Office
                    @*For Default Address*@
                    <span class="badge bg-primary badge-sm">default</span>
                    @*For Default Address*@
                </h4>
                <div class="c-card--header-action">
                    <a class="btn btn-icon btn-outline-primary btn-sm ms-2">
                        <i class="bx bxs-pencil"></i>
                    </a>
                    <a class="btn btn-icon btn-outline-danger btnRemoveAddress ms-2 btn-sm">
                        <i class="bx bxs-trash"></i>
                    </a>
                </div>
            </div>
            <div class="c-card--body">
                <p class="customer-address-text m-0">
                    503, Mauryansh Elanza, <br />
                    Shyamal Cross Rd, <br />
                    Ahmedabad, <br />
                    Gujarat -380015
                </p>                
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-2">
        <div class="c-card--wrapper c-card-sm--wrapper">
            <div class="c-card--header">
                <h4 class="c-card--header-title">
                    Home
                </h4>
                <div class="c-card--header-action">
                    <a class="btn btn-icon btn-outline-primary btn-sm">
                        <i class="bx bxs-pencil"></i>
                    </a>
                    <a class="btn btn-icon btn-outline-danger btnRemoveAddress ms-2 btn-sm">
                        <i class="bx bxs-trash"></i>
                    </a>
                </div>
            </div>
            <div class="c-card--body">
                <p class="customer-address-text m-0">
                    503, Mauryansh Elanza, <br />
                    Shyamal Cross Rd, <br />
                    Ahmedabad, <br />
                    Gujarat -380015
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-2">
        <div class="c-card--wrapper c-card-sm--wrapper">
            <div class="c-card--header">
                <h4 class="c-card--header-title">
                    Other
                </h4>
                <div class="c-card--header-action">
                    <a class="btn btn-icon btn-outline-primary btn-sm">
                        <i class="bx bxs-pencil"></i>
                    </a>
                    <a class="btn btn-icon btn-outline-danger btnRemoveAddress ms-2 btn-sm">
                        <i class="bx bxs-trash"></i>
                    </a>
                </div>
            </div>
            <div class="c-card--body">
                <p class="customer-address-text m-0">
                    503, Mauryansh Elanza, <br />
                    Shyamal Cross Rd, <br />
                    Ahmedabad, <br />
                    Gujarat -380015
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-2">
        <div class="c-card--wrapper c-card-sm--wrapper">
            <div class="c-card--header">
                <h4 class="c-card--header-title">
                    Office
                </h4>
                <div class="c-card--header-action">
                    <a class="btn btn-icon btn-outline-primary btn-sm">
                        <i class="bx bxs-pencil"></i>
                    </a>
                    <a class="btn btn-icon btn-outline-danger btnRemoveAddress ms-2 btn-sm">
                        <i class="bx bxs-trash"></i>
                    </a>
                </div>
            </div>
            <div class="c-card--body">
                <p class="customer-address-text m-0">
                    503, Mauryansh Elanza, <br />
                    Shyamal Cross Rd, <br />
                    Ahmedabad, <br />
                    Gujarat -380015
                </p>
            </div>
        </div>
    </div>
</div>