@model IEnumerable<MidCapERP.Dto.Lookups.LookupsResponseDto>

<table class="table c-table" id="tblLookup">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LookupName)</th>
            <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.LookupName)</td>
                <td>@Html.DisplayFor(modelItem => item.IsDeleted)</td>
                <td>
                    <div class="c-action-btn-group">
                        <a asp-controller="Lookup" asp-action="Update" asp-route-id="@item.LookupId"
                       data-ajax-complete="onComplete" data-ajax="true" class="btn btn-icon btn-outline-primary"
                       data-ajax-mode="replace" data-ajax-update="#UpdateContentDiv"><i class='bx bxs-pencil'></i></a>
                        <a asp-controller="Lookup" asp-action="Delete" asp-route-id="@item.LookupId"
                       data-ajax-complete="onComplete" data-ajax="true" class="btn btn-icon btn-outline-danger"
                       data-ajax-mode="replace"><i class='bx bxs-trash'></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>