@using MidCapERP.Core.Constants
@model MidCapERP.Dto.Order.OrderResponseDto

<form method="post" class="modal-form--wrapper productInfoForm" enctype="multipart/form-data">
    <div class="card-product--wrapper mb-2">
        <div class="card-prpoduct-cotent--wrapper">
            <div class="row">
                <div class="col-md-2">
                    <div class="product-info--item">
                        <div class="form-group">
                            <label class="form-label fw-bold">Order Detail</label><br />
                            <span class="form-label fw-bold">Order No:</span>
                            <span class="form-label">@Model.OrderNo</span><br />
                            <span class="form-label fw-bold">Total Amount:</span>
                            <span class="form-label">@Model.TotalAmount</span><br />
                            <span class="form-label fw-bold">Advance Amount:</span>
                            <span class="form-label">@Model.AdvanceAmount</span><br />
                            <span class="form-label fw-bold">Delivery Date:</span>
                            <span class="form-label">@Model.DeliveryDate</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="product-info--item">
                        <div class="form-group">
                            <label class="form-label fw-bold">Order Status</label><br />
                            @if (@Model.Status == (int)OrderStatusEnum.Inquiry)
                            {
                                <span class="form-label badge bg-warning">Inquiry</span>
                            }
                            else if (@Model.Status == (int)OrderStatusEnum.PendingForApproval)
                            {
                                <span class="form-label badge bg-secondary">Pending For Approval</span>
                            }
                            else if (@Model.Status == (int)OrderStatusEnum.Approved)
                            {
                                <span class="form-label badge bg-secondary">Approved</span>
                            }
                            else if (@Model.Status == (int)OrderStatusEnum.InProgress)
                            {
                                <span class="form-label badge bg-secondary">In Progress</span>
                            }
                            else if (@Model.Status == (int)OrderStatusEnum.Completed)
                            {
                                <span class="form-label badge bg-success">Completed</span>
                            }
                            else if (@Model.Status == (int)OrderStatusEnum.Delivered)
                            {
                                <span class="form-label badge bg-secondary">Delivered</span>
                            }
                            else if (@Model.Status == (int)OrderStatusEnum.Cancelled)
                            {
                                <span class="form-label badge bg-danger">Cancelled</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-info--item">
                        <div class="form-group">
                            <label class="form-label fw-bold">Customer Info</label><br />
                            <span class="form-label fw-bold">Name:</span>
                            <span class="form-label">@(Model.customersResponseDto.FirstName + " " + Model.customersResponseDto.LastName)</span><br />
                            <span class="form-label fw-bold">Referred By:</span>
                            <span class="form-label">@Model.customersResponseDto.RefferedName</span><br />
                            <span class="form-label fw-bold">Mobile Number:</span>
                            <span class="form-label">@Model.customersResponseDto.PhoneNumber</span><br />
                            <span class="form-label fw-bold">Email Address:</span>
                            <span class="form-label">@Model.customersResponseDto.EmailId</span>
                        </div>
                    </div>
                </div>
                @foreach (var item in @Model.OrderAddressesResponseDto)
                {
                    <div class="col-md-2">
                        <div class="product-info--item">
                            <div class="form-group">
                                <label class="form-label fw-bold">@item.AddressType Address</label><br />
                                <span class="form-label">
                                    @item.Street1 @(item.Street2 != null ? item.Street2 : ""),<br>
                                    @(item.Landmark != null ? item.Landmark : "") @item.Area,<br>
                                    @item.City, @item.ZipCode - @item.State
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>