@model IEnumerable<MidCapERP.Dto.Order.OrderResponseDto>

<table class="table c-table c-table-stripted" id="tblOrder">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.OrderNo)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedByName)</th>
            <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
            <th>@Html.DisplayNameFor(model => model.PayableAmount)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedDateFormat)</th>
            <th>@Html.DisplayNameFor(model => model.DeliveryDateFormat)</th>
            @*<th>@Html.DisplayNameFor(model => model.GrossTotal)</th>
            <th>@Html.DisplayNameFor(model => model.Discount)</th>
            <th>@Html.DisplayNameFor(model => model.TotalAmount)</th>
            <th>@Html.DisplayNameFor(model => model.GSTTaxAmount)</th>*@
            <th class="text-end">Action</th>
        </tr>
    </thead>
</table>