@model MidCapERP.Dto.TenantBankDetail.TenantBankDetailResponseDto

<table class="table c-table c-table-stripted" id="tblTenantBankDetail">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.BankName)</th>
            <th>@Html.DisplayNameFor(model => model.AccountName)</th>
            <th>@Html.DisplayNameFor(model => model.AccountNo)</th>
            <th>@Html.DisplayNameFor(model => model.BranchName)</th>
            <th>@Html.DisplayNameFor(model => model.AccountType)</th>
            <th>@Html.DisplayNameFor(model => model.IFSCCode)</th>
            <th>@Html.DisplayNameFor(model => model.UPIId)</th>
            <th>@Html.DisplayNameFor(model => model.QRCode)</th>
            <th>Action</th>
        </tr>
    </thead>
</table> 