@model MidCapERP.Dto.Accessories.AccessoriesRequestDto
@{
    string action = (Model != null && Model.AccessoriesId != 0) ? "Update" : "Create";
}

<!-- Modal -->
<div class="modal right fade" id="divAccessoriesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Accessories</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class='bx bx-x'></i>
                </button>
            </div>
            <form asp-action="@action"
                  method="post" class="modal-form--wrapper"
                  data-ajax="true" data-ajax-method="post"
                  data-ajax-complete="AccessoriesModel.onSuccess"
                  data-ajax-failure="AccessoriesModel.onFailed"
                  enctype="multipart/form-data">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="AccessoriesId" hidden class="form-control" />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="CategoryId" class="form-label"></label>
                                <select asp-for="CategoryId" data-val="true" class="drpSelect2 form-control"
                                        asp-items="@(new SelectList((List<SelectListItem>)ViewBag.CategorySelectItemList, "Value", "Text"))">
                                    <option value="" hidden disabled selected>Select Category</option>
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="AccessoriesTypeId" class="form-label"></label>
                                <select asp-for="AccessoriesTypeId" data-val="true" class="drpSelect2 form-control"
                                        asp-items="@(new SelectList((List<SelectListItem>)ViewBag.AccessoriesSelectItemList, "Value", "Text"))">
                                    <option value="" hidden disabled selected>Select Accessory</option>
                                </select>
                                <span asp-validation-for="AccessoriesTypeId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="UnitId" class="form-label"></label>
                                <select asp-for="UnitId" data-val="true" class="drpSelect2 form-control"
                                        asp-items="@(new SelectList((List<SelectListItem>)ViewBag.unitDataSelectedList, "Value", "Text"))">
                                    <option value="" hidden disabled selected>Select Unit</option>
                                </select>
                                <span asp-validation-for="UnitId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Title" class="form-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="UnitPrice" class="form-label"></label>
                                <input asp-for="UnitPrice" class="form-control" />
                                <span asp-validation-for="UnitPrice" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="UploadImage" class="form-label"></label>
                                <input asp-for="UploadImage" class="form-control" type="file" />
                                @if (action == "Update")
                                {
                                    <input type="hidden" asp-for="ImagePath" value="@Model.ImagePath" />
                                    <div>
                                        <img src="@Model.ImagePath" width="150" height="150">
                                    </div>
                                }
                                <span asp-validation-for="UploadImage" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
}
<script>
    InitSelect2($("#divAccessoriesModal"));
</script>