@model IEnumerable<MidCapERP.Dto.Accessories.AccessoriesResponseDto>

<table class="table c-table" id="tblAccessories">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
            <th>@Html.DisplayNameFor(model => model.TypeName)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.UnitName)</th>
            <th>@Html.DisplayNameFor(model => model.UnitPrice)</th>
            <th>Action</th>
        </tr>
    </thead>
</table>