@model IEnumerable<MidCapERP.Dto.Fabric.FabricResponseDto>

<table class="table c-table" id="tblFabric">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.ModelNo)</th>
            <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
            <th>@Html.DisplayNameFor(model => model.UnitName)</th>
            <th>@Html.DisplayNameFor(model => model.UnitPrice)</th>
            <th>Action</th>
        </tr>
    </thead>
</table>