@using MidCapERP.Dto.RolePermission
@model MidCapERP.Dto.Role.RoleRequestDto
@{
    string action = (Model != null && Model.Id != null) ? "UpdateRole" : "CreateRole";
}

<div class="">
    <div class="c-card--wrapper mb-3" id="divRoleModal">
        <div class="c-card--body">
            <form asp-action="@action" asp-controller="Role" method="post" class="modal-form--wrapper" id="frmCreateUpdateRolePermission">
                <div class="row align-items-end">
                    <div class="col-md-3">
                        <div class="product-info--item">
                            <div class="form-group">
                                <input type="hidden" asp-for="Id" />
                                <label class="form-label">
                                    Role Name
                                </label><span class="text-danger">*</span>
                                <input asp-for="Id" type="hidden" class="form-control" placeholder="Role Id" id="RoleId" />
                                <input asp-for="Name" type="text" class="form-control" placeholder="Role Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" value="Save" class="btn btn-primary has-spinner" id="btnCreateUpdateRolePermission">Save</button>
                            <a type="button" class="btn btn-primary" asp-controller="Role" asp-action="Index">Back</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @if (@action == "UpdateRole")
    {
        <nav class="product-nav-tab--sticky">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-detail-tab" data-bs-toggle="tab" data-bs-target="#nav-detail" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Role Claims</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-images-tab">
                <div class="c-card--wrapper c-card-sm--wrapper">
                    <div class="c-card--body">
                        <table class="table c-table c-table-stripted">
                            <thead>
                                <tr>
                                    <th>Application</th>
                                    <th>Modules</th>
                                    <th>Permissions</th>
                                    <th>HasCheck</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model.ModulePermissionList)
                                    {
                                        @foreach (var module in item.RolePermissionList)
                                        {
                                            <tr>
                                                <td>@item.ApplicationType</td>
                                                <td>@module.Module</td>
                                                <td>@Convert.ToString(module.Permission.Replace(item.ApplicationType,"").Replace(module.Module,"").Replace("Permissions","").Replace(".",""))</td>
                                                <td>
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" id="@module.Id" value="@module.Permission" @module.IsChecked>
                                                        <label class="custom-control-label" for="@module.Id">Active</label><br>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
        <script asp-src-include="~/js/RolePermission.js"></script>
    }
    }