@model IEnumerable<MidCapERP.Dto.Categories.CategoriesResponseDto>

@{
    ViewData["Title"] = "Index";
}

<div class="c-card--wrapper">
    <div class="c-card--header">
        <h4 class="c-card--header-title">Categories</h4>
        <div class="c-card--header-action">
            <a class="c-card--header-action-btn btn btn-outline-primary" id="categoryFilter"><i class='bx bx-plus me-1'></i>Filters</a>
            <a asp-controller="Category" asp-action="CreateOrUpdate"
               data-ajax-complete="onComplete" data-ajax="true" class="btn btn-primary"
               data-ajax-mode="replace" data-ajax-update="#UpdateContentDiv">Create New</a>
        </div>
    </div>
    <div class="c-card--body">
        <div class="card mb-4 p-3" id="FilterCard">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">
                                Product Name
                            </label>
                            <input type="text" class="form-control" placeholder="Product Name" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="date" class="form-label">Date</label>
                            @*<div class="input-group date" id="datepicker">
                            <input type="text" class="form-control" />
                            <span class="input-group-append">
                            <span class="input-group-text bg-light d-block rounded-0">
                            <i class="bx bx-calendar"></i>
                            </span>
                            </span>
                            </div>*@
                            <div class="input-group date" id="productdatepicker">
                                <input type="text" class="form-control" id="date" placeholder="dd/mm/yyyy" />
                                <span class="input-group-append">
                                    <span class="input-group-text bg-light d-block">
                                        <i class="bx bx-calendar"></i>
                                    </span>
                                </span>
                            </div>
                            @*<div class="input-group date" id="datepicker">
                            <input type="date" class="form-control" id="date" />
                            </div>*@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Select Category</label>
                            <select class="form-select" aria-label="Default select example">                                
                                <option selected value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">
                                Enter Email
                            </label>
                            <input type="text" class="form-control" placeholder="Enter Email" />
                        </div>
                    </div>*@
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">
                                Product Type
                            </label>
                            <input type="text" class="form-control" placeholder="Product Type" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">
                                Product ID
                            </label>
                            <input type="text" class="form-control" placeholder="Product ID" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <table class="table c-table" id="tblCategory">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                    <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                        <td>@Html.DisplayFor(modelItem => item.IsDeleted)</td>
                        <td>
                            <div class="c-action-btn-group">
                                <a asp-controller="Category" asp-action="CreateOrUpdate" asp-route-id="@item.CategoryID"
                               data-ajax-complete="onComplete" data-ajax="true" class="btn btn-icon btn-outline-primary"
                               data-ajax-mode="replace" data-ajax-update="#UpdateContentDiv"><i class='bx bxs-pencil'></i></a>
                                <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.CategoryID"
                               data-ajax-complete="onComplete" data-ajax="true" class="btn btn-icon btn-outline-danger"
                               data-ajax-mode="replace" data-ajax-update="#UpdateContentDiv"><i class='bx bxs-trash'></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*        <div class="mt-4">
        <table class="table c-table" id="tblCategory">
        <thead>
        <tr>
        <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
        <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
        <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
        <tr>
        <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
        <td>@Html.DisplayFor(modelItem => item.IsDeleted)</td>
        <td>
        <div class="c-action-btn-group">
        <a asp-controller="Category" asp-action="CreateOrUpdate" asp-route-id="@item.CategoryID"
        data-ajax-complete="onComplete" data-ajax="true" class="btn btn-icon btn-outline-primary"
        data-ajax-mode="replace" data-ajax-update="#UpdateContentDiv">
        <i class='bx bxs-pencil'></i>
        </a>
        <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.CategoryID"
        data-ajax-complete="onComplete" data-ajax="true" class="btn btn-icon btn-outline-danger"
        data-ajax-mode="replace" data-ajax-update="#UpdateContentDiv">
        <i class='bx bxs-trash'></i>
        </a>
        </div>
        </td>
        </tr>
        }
        </tbody>
        </table>
        </div>*@



    </div>
</div>


<div id="UpdateContentDiv"></div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script>
        //$('.input-group.datepicker').datepicker({ format: "dd.mm.yyyy" });
        $(function() {
            $('#productdatepicker').datepicker({ format: "dd/mm/yyyy" });
        });
        $(function() {
            $("#tblCategory").DataTable({
                "searching": false
            });
        });
        $("#categoryFilter").click(function() {
            $(this).toggleClass("filter-icon");
            $("#FilterCard").slideToggle("slow");
        });
        function onComplete() {
            $("#exampleModal").modal('show');
        }
    </script>
}