@using MidCapERP.Dto.RolePermission
@model IEnumerable<MidCapERP.Dto.RolePermission.RolePermissionRequestDto>

<div>
    <input hidden value="@ViewBag.RoleName" id="RoleName" />
</div>
@foreach (RolePermissionRequestDto modulePermissionList in Model)
{
    <div>@modulePermissionList.Module</div>
    <div class="row">
        @foreach (RolePermissionRequestDto rolePermissionModel in modulePermissionList.ModulePermissionList)
        {
            <div class="col-md-1">
                <div class="custom-control custom-switch">
                    <label class="form-label">
                        @rolePermissionModel.PermissionType
                    </label>
                    <input type="checkbox" class="custom-control-input" id="@rolePermissionModel.Id" value="@rolePermissionModel.Permission" @rolePermissionModel.IsChecked>
                    <label class="custom-control-label" for="@rolePermissionModel.Id">Active</label>
                </div>
            </div>
        }
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script src="~/js/RolePermission.js" asp-append-version="true"></script>

    }
}