@model IEnumerable<MidCapERP.Dto.SubjectTypes.SubjectTypesResponseDto>
@{
    ViewData["Title"] = "Index";
}
<table class="table" id="tblSubjectType">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.SubjectTypeName)</th>
            <th>@Html.DisplayNameFor(model => model.Comments)</th>
            <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.SubjectTypeName)</td>
                 <td>@Html.DisplayFor(modelItem => item.Comments)</td>
                <td>@Html.DisplayFor(modelItem => item.IsDeleted)</td>
                <td>
                    <a asp-controller="SubjectTypes" asp-action="Update" asp-route-id="@item.SubjectTypeId"
                   data-ajax-complete="onComplete" data-ajax="true" class="btn btn-primary"
                   data-ajax-mode="replace" data-ajax-update="#UpdateContentDiv">Update</a>
                    <a asp-controller="SubjectTypes" asp-action="Delete" asp-route-id="@item.SubjectTypeId"
                   data-ajax-complete="onComplete" data-ajax="true" class="btn btn-primary"
                   data-ajax-mode="replace" data-ajax-update="#UpdateContentDiv1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
