@model MidCapERP.Dto.Product.ProductDetailResponseDto

@{
    Layout = "_LayoutAnonymous";
    ViewData["Title"] = "Product Detail";
}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.css">

@if (Model != null)
{
    <div class="product-details-wrapper mb-3">
        <div class="container">
            <div class="row c-card--wrapper pt-4 pb-4 pl-3 pr-3">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="view-product-main">
                        <div class="gallery">
                            <div class="swiper-container gallery-slider">
                                <div class="swiper-wrapper">
                                    @foreach (var item in Model.ProductImageResponseDto)
                                    {
                                        <div class="swiper-slide"><img src="@item.ImagePath" alt="@item.ImageName"></div>
                                    }
                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                            <div class="swiper-container gallery-thumbs">
                                <div class="swiper-wrapper">
                                    @foreach (var item in Model.ProductImageResponseDto)
                                    {
                                        <div class="swiper-slide"><img src="@item.ImagePath" alt="@item.ImageName"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-lg-0 mt-md-5 mt-sm-5 mt-5">
                    <div class="view-product-mian">
                        <div class="product-details ">
                            <div class="product-name--wrapper">
                                <h2 class="product-name">@Model.ProductTitle</h2>
                                <p class="model-label">Model No. <span class="model-number">@Model.ModelNo</span></p>
                            </div>
                            <span class="product-price">₹ @Math.Round(Model.RetailerPrice, 2) /-</span>

                        </div>
                        <div class="main-product-details c-card--wrapper">
                            <div class="c-card--header">
                                <h2 class="c-card--header-title text-primary">Product Details</h2>
                            </div>
                            <div class="c-card--body p-0">
                                <ul class="product-details-list mb-0">
                                    <li class="product-deatils-sublist">
                                        <span class="product-deatails-name">Product Dimensions</span>
                                        <span class="product-details-value">@Model.Width x @Model.Height x @Model.Depth</span>
                                    </li>
                                    <li class="product-deatils-sublist">
                                        <span class="product-deatails-name">Total days to prepare </span>
                                        <span class="product-details-value">@Model.TotalDaysToPrepare days</span>
                                    </li>
                                    <li class="product-deatils-sublist">
                                        <span class="product-deatails-name">Fabric Needed</span>
                                        <span class="product-details-value">@Model.FabricNeeded meter</span>
                                    </li>
                                    <li class="product-deatils-sublist">
                                        <span class="product-deatails-name">Polish </span>
                                        <span class="product-details-value">@Model.Polish</span>
                                    </li>
                                    <li class="product-deatils-sublist">
                                        <span class="product-deatails-name">Features</span>
                                        <span class="product-details-value">@Model.Features</span>
                                    </li>
                                    <li class="product-deatils-sublist">
                                        <span class="product-deatails-name">Comments</span>
                                        <span class="product-details-value">@Model.Comments</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.js"></script>
<script type="text/javascript">
    var slider = new Swiper(".gallery-slider", {
        slidesPerView: 1,
        centeredSlides: true,
        loop: true,
        loopedSlides: 6,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
        }
    });


    var thumbs = new Swiper(".gallery-thumbs", {
        slidesPerView: "auto",
        spaceBetween: 10,
        centeredSlides: true,
        loop: true,
        slideToClickedSlide: true
    });

    slider.controller.control = thumbs;
    thumbs.controller.control = slider;
</script>