@model IEnumerable<MidCapERP.Dto.Product.ProductResponseDto>

<table class="table c-table c-table-stripted w-100" id="tblProduct">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="selectallProduct" />
            </th>
            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
            <th>@Html.DisplayNameFor(model => model.ProductTitle)</th>
            <th>@Html.DisplayNameFor(model => model.ModelNo)</th>
            <th>@Html.DisplayNameFor(model => model.UpdatedByName)</th>
            <th>@Html.DisplayNameFor(model => model.UpdatedDateFormat)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th class="text-end">Action</th>
        </tr>
    </thead>
</table>