@using MidCapERP.Core.CommonHelper
@using MidCapERP.Dto.Product
@model ProductMainRequestDto
@{
    var i = 0;
}

<form asp-action="CreateProductMaterial" asp-controller="Product" method="post" class="modal-form--wrapper formAction" enctype="multipart/form-data"
      data-ajax="true" data-ajax-method="post"
      data-ajax-complete="ProductModel.onProductMaterialSuccess"
      data-ajax-failure="ProductModel.onProductMaterialFailed"
      data-ajax-update="#divProductMaterialPartial" data-ajax-mode="replace" id="frmProductMaterial">
    <div class="row">
        <input type="hidden" asp-for="ProductId" />
        <div class="col-md-8">
            <div class="c-card--wrapper c-card-sm--wrapper mb-3 product-details-main-card--wrapper">
                <div class="c-card--body">
                    <table class="table c-table c-table-bordered">
                        <thead>
                            <tr>
                                <th class="c-width-820">
                                    Raw Materials
                                </th>
                                <th class="c-width-80">
                                    Unit
                                </th>
                                <th class="c-width-140">
                                    Unit Price
                                </th>
                                <th class="c-width-80">
                                    Quantity<span class="required">*</span>
                                </th>
                                <th class="c-width-140">
                                    Cost Price
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" data-name="ProductMaterialRequestDto[{ID}].SubjectTypeId" data-readonly="readonly" class="form-control" value="@ViewBag.RawMaterialSubjectTypeId">
                                    <select data-tabindex="-1" class="drpSelect2 form-select material" data-name="ProductMaterialRequestDto[{ID}].SubjectId" data-readonly="readonly">
                                        <option value="" selected>Select Raw Material</option>
                                        @foreach (var item in (List<ProductMaterialListItem>)ViewBag.RawMaterialDropDownData)
                                        {
                                            <option value="@item.Value" data-UnitName="@item.UnitName" data-UnitPrice="@item.UnitPrice">@item.Text</option>
                                        }
                                    </select>

                                    <span class="text-danger materialErrorMsg"></span>
                                </td>
                                <td>
                                    <input type="text" data-readonly="readonly" class="form-control Unit" placeholder="Unit Type" readonly>
                                </td>
                                <td>
                                    <input type="text" data-readonly="readonly" class="form-control materialPrice" placeholder="Unit Price" readonly>
                                </td>
                                <td>
                                    <input type="number" data-name="ProductMaterialRequestDto[{ID}].Qty" onkeypress="return isNumberKey(event)" data-readonly="readonly" class="form-control quantity" placeholder="Qty">
                                </td>
                                <td>
                                    <input type="text" data-name="ProductMaterialRequestDto[{ID}].CostPrice" data-readonly="readonly" class="form-control costPrice" placeholder="Cost Price" readonly>
                                    <input type="hidden" data-name="ProductMaterialRequestDto[{ID}].IsDeleted" data-readonly="readonly" class="isDeleted" value="false">
                                </td>
                                <td>
                                    <div class="add-icon ms-auto">
                                        <i class="bx bx-plus"></i>
                                    </div>
                                </td>
                            </tr>
                            @{
                                var RawMaterial = Model?.ProductMaterialRequestDto.Where(x => x.SubjectTypeId == ViewBag.RawMaterialSubjectTypeId).ToList();
                            }
                            @if (RawMaterial != null)
                                foreach (var item in RawMaterial)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="ProductMaterialRequestDto[i].SubjectTypeId" readonly="readonly" class="form-control" value="@ViewBag.RawMaterialSubjectTypeId">
                                            <select tabindex="-1" asp-for="ProductMaterialRequestDto[i].SubjectId" class="drpSelect2 form-select material" data-name="ProductMaterialRequestDto[{ID}].SubjectId" readonly="readonly">
                                                @foreach (var list in (List<ProductMaterialListItem>)ViewBag.RawMaterialDropDownData)
                                                {
                                                    <option value="@list.Value" UnitPrice="@list.UnitPrice" data-value="true">@list.Text</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" asp-for="ProductMaterialRequestDto[i].UnitType" data-readonly="readonly" class="form-control Unit" placeholder="Unit Type" readonly>
                                        </td>
                                        <td>
                                            <input type="text" asp-for="ProductMaterialRequestDto[i].CostPrice" data-readonly="readonly" class="form-control materialPrice" placeholder="Unit Price" readonly />
                                        </td>
                                        <td>
                                            <input type="number" asp-for="ProductMaterialRequestDto[i].Qty" readonly="readonly" class="form-control quantity" placeholder="Qty" onkeypress="return isNumberKey(event)" readonly />
                                        </td>
                                        <td>
                                            @{
                                                var costPrice = item.CostPrice * item.Qty;
                                            }
                                            <input type="text" asp-for="ProductMaterialRequestDto[i].CostPrice" value="@Math.Round(costPrice, 2)" readonly="readonly" class="form-control costPrice" placeholder="Cost Price" readonly />
                                            <input type="hidden" asp-for="ProductMaterialRequestDto[i].IsDeleted" readonly="readonly" class="form-control isDeleted" value="false">
                                        </td>
                                        <td>
                                            <div class="minus-icon">
                                                <i class="bx bx-minus"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    {
                                        i = i + 1;
                                    }
                                }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="c-card--wrapper c-card-sm--wrapper mb-3 product-details-main-card--wrapper">
                <div class="c-card--body">
                    <table class="table c-table c-table-bordered">
                        <thead>
                            <tr>
                                <th class="c-width-820">
                                    Polish
                                </th>
                                <th class="c-width-80">
                                    Unit
                                </th>
                                <th class="c-width-140">
                                    Unit Price
                                </th>
                                <th class="c-width-80">
                                    Quantity<span class="required">*</span>
                                </th>
                                <th class="c-width-140">
                                    Cost Price
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" data-name="ProductMaterialRequestDto[{ID}].SubjectTypeId" data-readonly="readonly" class="form-control" value="@ViewBag.PolishSubjectTypeId">
                                    <select data-tabindex="-1" class="drpSelect2 form-select material" data-name="ProductMaterialRequestDto[{ID}].SubjectId" data-readonly="readonly">
                                        <option value="" selected>Select Polish</option>
                                        @foreach (var item in (List<ProductMaterialListItem>)ViewBag.PolishDropDownData)
                                        {
                                            <option value="@item.Value" data-UnitName="@item.UnitName" data-UnitPrice="@item.UnitPrice">@item.Text</option>
                                        }
                                    </select>
                                    <span class="text-danger materialErrorMsg"></span>
                                </td>
                                <td>
                                    <input type="text" data-readonly="readonly" class="form-control Unit" placeholder="Unit Type" readonly>
                                </td>
                                <td>
                                    <input type="text" data-readonly="readonly" class="form-control materialPrice" placeholder="Unit Price" readonly>
                                </td>
                                <td>
                                    <input type="number" data-name="ProductMaterialRequestDto[{ID}].Qty" data-readonly="readonly" class="form-control quantity" onkeypress="return isNumberKey(event)" placeholder="Qty">
                                </td>
                                <td>
                                    <input type="text" data-name="ProductMaterialRequestDto[{ID}].CostPrice" data-readonly="readonly" class="form-control costPrice" placeholder="Cost Price" readonly>
                                    <input type="hidden" data-name="ProductMaterialRequestDto[{ID}].IsDeleted" data-readonly="readonly" class="isDeleted" value="false">
                                </td>
                                <td>
                                    <div class="add-icon ms-auto">
                                        <i class="bx bx-plus"></i>
                                    </div>
                                </td>
                            </tr>
                            @{
                                var Polish = Model?.ProductMaterialRequestDto.Where(x => x.SubjectTypeId == ViewBag.PolishSubjectTypeId).ToList();
                            }
                            @if (Polish != null)
                                foreach (var item in Polish)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="ProductMaterialRequestDto[i].SubjectTypeId" readonly="readonly" class="form-control" value="@ViewBag.PolishSubjectTypeId">
                                            <select tabindex="-1" asp-for="ProductMaterialRequestDto[i].SubjectId" class="drpSelect2 form-select material" data-name="ProductMaterialRequestDto[{ID}].SubjectId" readonly="readonly">
                                                @foreach (var list in (List<ProductMaterialListItem>)ViewBag.PolishDropDownData)
                                                {
                                                    <option value="@list.Value" UnitPrice="@list.UnitPrice">@list.Text</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" asp-for="ProductMaterialRequestDto[i].UnitType" data-readonly="readonly" class="form-control Unit" placeholder="Unit Type" readonly>
                                        </td>
                                        <td>
                                            <input type="text" asp-for="ProductMaterialRequestDto[i].CostPrice" data-readonly="readonly" class="form-control materialPrice" placeholder="Unit Price" readonly />
                                        </td>
                                        <td>
                                            <input type="number" asp-for="ProductMaterialRequestDto[i].Qty" readonly="readonly" class="form-control quantity" onkeypress="return isNumberKey(event)" placeholder="Qty" />
                                        </td>
                                        <td>
                                            @{
                                                var costPrice = item.CostPrice * item.Qty;
                                            }
                                            <input type="text" asp-for="ProductMaterialRequestDto[i].CostPrice" value="@Math.Round(costPrice, 2)" readonly="readonly" class="form-control costPrice" placeholder="Cost Price" readonly />
                                            <input type="hidden" asp-for="ProductMaterialRequestDto[i].IsDeleted" readonly="readonly" class="form-control isDeleted" value="false">
                                        </td>
                                        <td>
                                            <div class="minus-icon">
                                                <i class="bx bx-minus"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    {
                                        i = i + 1;
                                    }
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="c-card--wrapper c-card-sm--wrapper price-card--wrapper">
                <div class="c-card--header">
                    <h4 class="c-card--header-title">Total Price</h4>
                </div>
                <div class="c-card--body">
                    <ul class="price-list--wrapper">
                        <li class="price-list--item">
                            <span class="price-list--title">
                                Cost Price
                            </span>
                            <div class="price-list--value price-list--input">
                                <span class="price--icon">
                                    ₹
                                </span>
                                <input type="hidden" id="hdnRetailerSP" value="@ViewBag.RetailerSP">
                                <input type="hidden" id="hdnWholesalerSP" value="@ViewBag.WholesalerSP">
                                <input type="hidden" id="hdnAmountRoundTo" value="@ViewBag.RoundTo">
                                <input asp-for="CostPrice" class="form-control" placeholder="Enter Cost Price" onkeypress="return isNumberKey(event)">
                                <span asp-validation-for="ProductRequestDto.CostPrice" class="text-danger"></span>
                            </div>
                        </li>
                        <li class="price-list--item">
                            <span class="price-list--title">
                                Retailers Price
                            </span>
                            <div class="price-list--value price-list--input">
                                <span class="price--icon">
                                    ₹
                                </span>
                                @{
                                    var TotalRetailerPrice = CommonMethod.GetCalculatedPrice(Model.CostPrice, ViewBag.RetailerSP, ViewBag.RoundTo);
                                }
                                <input type="text" id="RetailerPrice" class="form-control" readonly value="@TotalRetailerPrice.ToString("0.00")" />
                            </div>
                        </li>
                        <li class="price-list--item">
                            <span class="price-list--title">
                                Wholesalers Price
                            </span>
                            <div class="price-list--value price-list--input">
                                <span class="price--icon">
                                    ₹
                                </span>
                                @{
                                    var TotalWholesalerPrice = CommonMethod.GetCalculatedPrice(Model.CostPrice, ViewBag.WholesalerSP, ViewBag.RoundTo);
                                }
                                <input type="text" id="WholesalerPrice" class="form-control" readonly value="@TotalWholesalerPrice.ToString("0.00")" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row c-card-footer--btn">
        <div class="col-12">
            <div class="c-card--wrapper c-card-sm--wrapper">
                <div class="c-card--footer">
                    <a class="btn btn-danger" asp-action="Index" asp-controller="Product">
                        Cancel
                    </a>
                    <button type="submit" value="Save" class="btn btn-primary ms-2 has-spinner btnProductMaterial">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {
        window.counter = @i;
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

@{
    await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
}
<script>
    InitSelect2();
</script>