@model IEnumerable<MidCapERP.Dto.Product.ProductResponseDto>

<table class="table c-table c-table-stripted" id="tblProduct">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
            <th>@Html.DisplayNameFor(model => model.ProductTitle)</th>
            <th>@Html.DisplayNameFor(model => model.ModelNo)</th>
            <th>@Html.DisplayNameFor(model => model.CostPrice)</th>
            <th>@Html.DisplayNameFor(model => model.RetailerPrice)</th>
            <th>@Html.DisplayNameFor(model => model.WholesalerPrice)</th>
            <th>Action</th>
        </tr>
    </thead>
</table>