@model IEnumerable<MidCapERP.Dto.ActivityLogs.ActivityLogsResponseDto>

<table class="table c-table c-table-stripted" id="tblActivitylog">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Action)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedByName)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Description</th>
                <th>@item.Action</th>
                <th>@item.CreatedByName</th>
                 <th>@item.CreatedDate</th>
            </tr>
        }
    </tbody>
</table>