@model MidCapERP.Dto.Product.ProductRequestDto
<form asp-action="CreateProductBasicDetail" asp-controller="Product"
      method="post" class="modal-form--wrapper productInfoForm" enctype="multipart/form-data" id="frmProductInfoForm">
    <div class="card-product--wrapper mb-2">
        <input type="hidden" asp-for="ProductId" class="form-control" />
        <div class="card-prpoduct-cotent--wrapper">
            <div class="row">
                <div class="col-md-3">
                    <div class="product-info--item">
                        <div class="form-group">
                            <label asp-for="CategoryId" class="form-label"></label><span class="required">*</span>
                            @if (Model?.ProductId > 0)
                            {
                                <select asp-for="CategoryId" data-val="true" class="form-control drpSelect2" readonly="readonly"
                                    asp-items="@(new SelectList((List<SelectListItem>)ViewBag.CategorySelectedList, "Value", "Text"))">
                                    <option value="" selected>Select Category</option>
                                </select>
                            }
                            else
                            {
                                <select asp-for="CategoryId" data-val="true" class="form-control form-select drpSelect2"
                                    asp-items="@(new SelectList((List<SelectListItem>)ViewBag.CategorySelectedList, "Value", "Text"))">
                                    <option value="" selected>Select Category</option>
                                </select>
                            }
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-info--item">
                        <div class="form-group">
                            <label asp-for="ProductTitle" class="form-label"></label>&nbsp;<span class="required">*</span>
                            <input asp-for="ProductTitle" type="text" class="form-control" placeholder="Product Title">
                            <span asp-validation-for="ProductTitle" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-info--item">
                        <div class="form-group">
                            <label asp-for="ModelNo" class="form-label"></label>&nbsp;<span class="required">*</span>
                            <input asp-for="ModelNo" type="text" class="form-control" placeholder="Product Code">
                            <span asp-validation-for="ModelNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-info--item">
                        <div class="form-group">
                            <label class="form-label">
                                Product Dimensions <span class="dimension-input">(Width &#x2715; Height &#x2715; Depth - Diameter) </span>in inches
                            </label>
                            <div class="row">
                                <div class="col-md-3">
                                    <input asp-for="WidthNumeric" type="text" class="form-control pwidth" placeholder="Width" max="999.99" onkeypress='return restrictAlphabets(event)'>
                                    <span asp-validation-for="WidthNumeric" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <input asp-for="HeightNumeric" type="text" class="form-control pheight" placeholder="Height" max="999.99" onkeypress='return restrictAlphabets(event)'>
                                    <span asp-validation-for="HeightNumeric" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <input asp-for="DepthNumeric" type="text" class="form-control pdepth" placeholder="Depth" max="999.99" onkeypress='return restrictAlphabets(event)'>
                                    <span asp-validation-for="DepthNumeric" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <input asp-for="DiameterNumeric" type="text" class="form-control pdiameter" placeholder="Diameter" max="999.99" onkeypress='return restrictAlphabets(event)'>
                                    <span asp-validation-for="DiameterNumeric" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row align-items-end">
                @if (Model?.ProductId > 0)
                {
                    <div class="col-8">
                        @if (@Model.UpdatedDate != null && @Model.UpdatedByName != null)
                        {
                            <small class="text-muted">Last updated by @Model.UpdatedByName on @Model.UpdatedDate.Value.ToLongDateString() - </small>
                        }
                        <small class="text-muted">Created by @Model.CreatedByName on @Model.CreatedDate.ToLongDateString()</small>
                    </div>
                }
                <div class="@(Model?.ProductId > 0 ? "col-4" : "col-12")">
                    <div class="text-end">
                        <a class="btn btn-danger" asp-action="Index" asp-controller="Product">
                            Cancel
                        </a>
                        <button type="submit" value="Save" class="btn btn-primary ms-2 has-spinner productSubmit">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@{
    await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
}
<script type="text/javascript">
    InitSelect2();
</script>