@using MidCapERP.Dto.Product
@model MidCapERP.Dto.Product.ProductMainRequestDto
@{
    string action = (Model != null && Model.ProductRequestDto.ProductId != 0) ? "Update" : "Create";
    var title = (action == "Create") ? ViewData["Title"] = "Add Product" : ViewData["Title"] = "Update Product";
    var i = 0;
}

<div class="">
    <form asp-action="@action" asp-controller="Product" method="post" class="modal-form--wrapper" enctype="multipart/form-data">

        @*Product*@
        <div class="card-product--wrapper mb-3">
            <input type="hidden" asp-for="ProductRequestDto.ProductId" />
            <div class="card-product--image">
                <input type="file" hidden />
                <div class="product--image">
                    <img src="~/images/No_Image.jpg" alt="Product Name" />
                    <div class="edit--image">
                        <i class="bx bx-pencil"></i>
                    </div>
                </div>
            </div>
            <div class="card-prpoduct-cotent--wrapper">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-info--item">
                            <div class="form-group">
                                <label asp-for="ProductRequestDto.CategoryId" class="form-label"></label>
                                <select asp-for="ProductRequestDto.CategoryId" data-val="true" class="form-control"
                                        asp-items="@(new SelectList((List<SelectListItem>)ViewBag.CategorySelectedList, "Value", "Text"))">
                                    <option value="" selected>Select Category</option>
                                </select>
                                <span asp-validation-for="ProductRequestDto.CategoryId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-info--item">
                            <div class="form-group">
                                <label asp-for="ProductRequestDto.ProductTitle" class="form-label"></label>&nbsp;<span class="required">*</span>
                                <input asp-for="ProductRequestDto.ProductTitle" type="text" class="form-control" placeholder="Product Title">
                                <span asp-validation-for="ProductRequestDto.ProductTitle" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-info--item">
                            <div class="form-group">
                                <label asp-for="ProductRequestDto.ModelNo" class="form-label"></label>&nbsp;<span class="required">*</span>
                                <input asp-for="ProductRequestDto.ModelNo" type="text" class="form-control" placeholder="Product Code">
                                <span asp-validation-for="ProductRequestDto.ModelNo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-info--item">
                            <div class="form-group">
                                <label class="form-label">
                                    Product Dimensions <span class="required">*</span> <span class="dimension-input">(Width &#x2715; Height &#x2715; Depth)</span>
                                </label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input asp-for="ProductRequestDto.Width" type="text" class="form-control" placeholder="Width">
                                        <span asp-validation-for="ProductRequestDto.Width" class="text-danger"></span>
                                        @*<label class="form-label">Width</label>*@
                                    </div>
                                    <div class="col-md-4">
                                        <input asp-for="ProductRequestDto.Height" type="text" class="form-control" placeholder="Height">
                                        <span asp-validation-for="ProductRequestDto.Height" class="text-danger"></span>
                                        @*<label class="form-label">Height</label>*@
                                    </div>
                                    <div class="col-md-4">
                                        <input asp-for="ProductRequestDto.Depth" type="text" class="form-control" placeholder="Depth">
                                        <span asp-validation-for="ProductRequestDto.Depth" class="text-danger"></span>
                                        @*<label class="form-label">Depth</label>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* <div class="product-info--wrapper">
                </div>*@
            </div>
        </div>
        <nav class="product-nav-tab--sticky">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-detail-tab" data-bs-toggle="tab" data-bs-target="#nav-detail" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Details</button>
                <button class="nav-link" id="nav-images-tab" data-bs-toggle="tab" data-bs-target="#nav-images" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Images</button>
                <button class="nav-link" id="nav-rowmaterial-tab" data-bs-toggle="tab" data-bs-target="#nav-rowmaterial" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Materials</button>
                <button class="nav-link disabled" id="nav-rowmaterial-tab" data-bs-toggle="tab" data-bs-target="#nav-rowmaterial" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Workflow</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            @*Details*@
            <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-images-tab">
                <div class="c-card--wrapper c-card-sm--wrapper mb-3">
                    <div class="c-card--header">
                        <h4 class="c-card--header-title">Product Detail</h4>
                    </div>
                    <div class="c-card--body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label asp-for="ProductRequestDto.UsedFabric" class="form-label"></label>
                                            <input asp-for="ProductRequestDto.UsedFabric" type="number" class="form-control fabric" placeholder="Fabric in meter">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label asp-for="ProductRequestDto.UsedPolish" class="form-label"></label>
                                            <input asp-for="ProductRequestDto.UsedPolish" type="number" class="form-control polish" placeholder="Polish in liter">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label asp-for="ProductRequestDto.TotalDaysToPrepare" class="form-label"></label>&nbsp;<span class="required">*</span>
                                            <input asp-for="ProductRequestDto.TotalDaysToPrepare" type="number" class="form-control" placeholder="Total days to prepare">
                                            <span asp-validation-for="ProductRequestDto.TotalDaysToPrepare" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="custom-control custom-switch">
                                            <label asp-for="ProductRequestDto.IsVisibleToWholesalers" class="form-label"></label>
                                            <input asp-for="ProductRequestDto.IsVisibleToWholesalers" type="checkbox" class="custom-control-input" id="customSwitch1">
                                            <label class="custom-control-label" for="customSwitch1">Active</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="product-info--item">
                                            <div class="form-group">
                                                <label asp-for="ProductRequestDto.Features" class="form-label"></label>
                                                <textarea asp-for="ProductRequestDto.Features" class="form-control" placeholder="Features"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="product-info--item">
                                            <div class="form-group">
                                                <label asp-for="ProductRequestDto.Comments" class="form-label"></label>
                                                <textarea asp-for="ProductRequestDto.Comments" class="form-control" placeholder="Comments"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="product-info--item">
                                    <div class="form-group">
                                        <label asp-for="ProductRequestDto.QRImage" class="form-label"></label>
                                        <div class="product--image">
                                            <img src="~/images/No_Image.jpg" alt="Product Name" style="width: 250px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row c-card-footer--btn">
                    <div class="col-12">
                        <div class="c-card--wrapper c-card-sm--wrapper">
                            <div class="c-card--footer">
                                <a class="btn btn-danger" asp-action="Index" asp-controller="Product">
                                    Cancel
                                </a>
                                <input type="submit" value="Save" class="btn btn-primary ms-2" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Image*@
            <div class="tab-pane fade show" id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab">
                <div class="c-card--wrapper c-card-sm--wrapper mb-3">
                    <div class="c-card--header">
                        <h4 class="c-card--header-title">Product Images</h4>
                    </div>
                    <div class="c-card--body">
                        @*<div id="dropzone" id="dropzone-form" name="mainFileUploader">
                        <div class="dropzone needsclick" action="/upload">
                        <div class="dz-message needsclick">
                        Drop files here or click to upload.
                        <br>
                        <span class="note needsclick">
                        (This is just a demo dropzone. Selected
                        files are <strong>not</strong> actually uploaded.)
                        </span>
                        </div>
                        </div>
                        </div>*@
                        @*<div class="dropzone" id="dropzone-form" name="mainFileUploader">
                        <div class="fallback">
                        <input asp-for="File" type="file" multiple />
                        </div>
                        </div>*@
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    @*<label asp-for="ProductImageRequestDto" class="form-label"></label>*@
                                    <input asp-for="Files" class="form-control" type="file" multiple />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row c-card-footer--btn">
                    <div class="col-12">
                        <div class="c-card--wrapper c-card-sm--wrapper">
                            <div class="c-card--footer">
                                <a class="btn btn-danger" asp-action="Index" asp-controller="Product">
                                    Cancel
                                </a>
                                <input type="submit" value="Save" class="btn btn-primary ms-2" />
                                @*<input asp-for="File" class="btn btn-primary ms-2" id="submit-all" type="button" value="Save" />*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Material*@
            <div class="tab-pane fade" id="nav-rowmaterial" role="tabpanel" aria-labelledby="nav-rowmaterial-tab">
                <div class="row">
                    <div class="col-md-9">
                        <div class="c-card--wrapper c-card-sm--wrapper mb-3">
                            <div class="c-card--header">
                                <h4 class="c-card--header-title">Frame Type</h4>
                            </div>
                            <div class="c-card--body">
                                <table class="table c-table">
                                    <thead>
                                        <tr>
                                            <th class="c-width-820">
                                                Material
                                            </th>
                                            <th class="c-width-140">
                                                Unit Price
                                            </th>
                                            <th class="c-width-140">
                                                Quantity
                                            </th>
                                            <th class="c-width-140">
                                                Cost Price
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" data-name="ProductMaterialRequestDto[{ID}].SubjectTypeId" data-readonly="readonly" class="form-control" value="1">

                                                <select data-tabindex="-1" class="form-select material" data-name="ProductMaterialRequestDto[{ID}].SubjectId" data-readonly="readonly">
                                                    <option value="" selected>Select FrameType</option>
                                                    @foreach (var item in (List<ProductMaterialListItem>)ViewBag.FrameDropDownData)
                                                    {
                                                        <option value="@item.Value" data-UnitPrice="@item.UnitPrice">@item.Text</option>
                                                    }
                                                </select>
                                                <span class="text-danger materialErrorMsg"></span>
                                            </td>
                                            <td>
                                                <input type="text" data-name="ProductMaterialRequestDto[{ID}].MaterialPrice" data-readonly="readonly" class="form-control materialPrice" placeholder="Unit Price" readonly>
                                            </td>
                                            <td>
                                                <input type="text" data-name="ProductMaterialRequestDto[{ID}].Qty" data-readonly="readonly" class="form-control quantity" placeholder="Quantity">
                                            </td>
                                            <td>
                                                <input type="text" data-name="ProductMaterialRequestDto[{ID}].CostPrice" data-readonly="readonly" class="form-control costPrice" placeholder="Cost Price">
                                            </td>
                                            <td>
                                                <input type="hidden" data-name="ProductMaterialRequestDto[{ID}].IsDeleted" data-readonly="readonly" class="isDeleted" value="false">
                                            </td>
                                            <td>
                                                <div class="add-icon">
                                                    <i class="bx bx-plus"></i>
                                                </div>
                                            </td>
                                        </tr>
                                        @{
                                            var FrameType = Model?.ProductMaterialRequestDto.Where(x => x.SubjectTypeId == 1).ToList();
                                        }
                                        @if (FrameType != null)
                                            foreach (var item in FrameType)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="hidden" asp-for="ProductMaterialRequestDto[i].SubjectTypeId" data-readonly="readonly" class="form-control" value="1">
                                                        <select tabindex="-1" asp-for="ProductMaterialRequestDto[i].SubjectId" class="form-select material" data-name="ProductMaterialRequestDto[{ID}].SubjectId" data-readonly="readonly">
                                                            @foreach (var list in (List<ProductMaterialListItem>)ViewBag.FrameDropDownData)
                                                            {
                                                                <option value="@list.Value" data-UnitPrice="@list.UnitPrice">@list.Text</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" asp-for="ProductMaterialRequestDto[i].MaterialPrice" data-readonly="readonly" class="form-control materialPrice" placeholder="Unit Price" readonly />
                                                    </td>
                                                    <td>
                                                        <input type="text" asp-for="ProductMaterialRequestDto[i].Qty" data-readonly="readonly" class="form-control quantity" placeholder="Quantity" readonly />
                                                    </td>
                                                    <td>
                                                        @{
                                                            var costPrice = item.Qty * item.MaterialPrice;
                                                        }
                                                        <input type="text" asp-for="ProductMaterialRequestDto[i].CostPrice" value="@costPrice" data-readonly="readonly" class="form-control costPrice" placeholder="Cost Price" readonly />
                                                    </td>
                                                    <td>
                                                        <input type="hidden" asp-for="ProductMaterialRequestDto[i].IsDeleted" data-readonly="readonly" class="form-control isDeleted" value="false">
                                                    </td>
                                                    <td>
                                                        <div class="minus-icon">
                                                            <i class="bx bx-minus"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {
                                                    i = i + 1;
                                                }
                                            }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="c-card--wrapper c-card-sm--wrapper mb-3">
                            <div class="c-card--header">
                                <h4 class="c-card--header-title">Polish</h4>
                            </div>
                            <div class="c-card--body">
                                <table class="table c-table">
                                    <thead>
                                        <tr>
                                            <th class="c-width-820">
                                                Material
                                            </th>
                                            <th class="c-width-140">
                                                Unit Price
                                            </th>
                                            <th class="c-width-140">
                                                Quantity
                                            </th>
                                            <th class="c-width-140">
                                                Cost Price
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" data-name="ProductMaterialRequestDto[{ID}].SubjectTypeId" data-readonly="readonly" class="form-control" value="3">

                                                <select data-tabindex="-1" class="form-select material" data-name="ProductMaterialRequestDto[{ID}].SubjectId" data-readonly="readonly">
                                                    <option value="" selected>Select Polish</option>
                                                    @foreach (var item in (List<ProductMaterialListItem>)ViewBag.PolishDropDownData)
                                                    {
                                                        <option value="@item.Value" data-UnitPrice="@item.UnitPrice">@item.Text</option>
                                                    }
                                                </select>
                                                <span class="text-danger materialErrorMsg"></span>
                                            </td>
                                            <td>
                                                <input type="text" data-name="ProductMaterialRequestDto[{ID}].MaterialPrice" data-readonly="readonly" class="form-control materialPrice" placeholder="Unit Price" readonly>
                                            </td>
                                            <td>
                                                <input type="text" data-name="ProductMaterialRequestDto[{ID}].Qty" data-readonly="readonly" class="form-control quantity" placeholder="Quantity">
                                            </td>
                                            <td>
                                                <input type="text" data-name="ProductMaterialRequestDto[{ID}].CostPrice" data-readonly="readonly" class="form-control costPrice" placeholder="Cost Price">
                                            </td>
                                            <td>
                                                <input type="hidden" data-name="ProductMaterialRequestDto[{ID}].IsDeleted" data-readonly="readonly" class="isDeleted" value="false">
                                            </td>
                                            <td>
                                                <div class="add-icon">
                                                    <i class="bx bx-plus"></i>
                                                </div>
                                            </td>
                                        </tr>
                                        @{
                                            var Polish = Model?.ProductMaterialRequestDto.Where(x => x.SubjectTypeId == 3).ToList();
                                        }
                                        @if (Polish != null)
                                            foreach (var item in Polish)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="hidden" asp-for="ProductMaterialRequestDto[i].SubjectTypeId" data-readonly="readonly" class="form-control" value="3">
                                                        <select tabindex="-1" asp-for="ProductMaterialRequestDto[i].SubjectId" class="form-select material" data-name="ProductMaterialRequestDto[{ID}].SubjectId" data-readonly="readonly">
                                                            @foreach (var list in (List<ProductMaterialListItem>)ViewBag.PolishDropDownData)
                                                            {
                                                                <option value="@list.Value" data-UnitPrice="@list.UnitPrice">@list.Text</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" asp-for="ProductMaterialRequestDto[i].MaterialPrice" data-readonly="readonly" class="form-control materialPrice" placeholder="Unit Price" readonly />
                                                    </td>
                                                    <td>
                                                        <input type="text" asp-for="ProductMaterialRequestDto[i].Qty" data-readonly="readonly" class="form-control quantity" placeholder="Quantity" readonly />
                                                    </td>
                                                    <td>
                                                        @{
                                                            var costPrice = item.Qty * item.MaterialPrice;
                                                        }
                                                        <input type="text" asp-for="ProductMaterialRequestDto[i].CostPrice" value="@costPrice" data-readonly="readonly" class="form-control costPrice" placeholder="Cost Price" readonly />
                                                    </td>
                                                    <td>
                                                        <input type="hidden" asp-for="ProductMaterialRequestDto[i].IsDeleted" data-readonly="readonly" class="form-control isDeleted" value="false">
                                                    </td>
                                                    <td>
                                                        <div class="minus-icon">
                                                            <i class="bx bx-minus"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {
                                                    i = i + 1;
                                                }
                                            }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="c-card--wrapper c-card-sm--wrapper mb-3">
                            <div class="c-card--header">
                                <h4 class="c-card--header-title">Raw Materials</h4>
                            </div>
                            <div class="c-card--body">
                                <table class="table c-table">
                                    <thead>
                                        <tr>
                                            <th class="c-width-820">
                                                Material
                                            </th>
                                            <th class="c-width-140">
                                                Unit Price
                                            </th>
                                            <th class="c-width-140">
                                                Quantity
                                            </th>
                                            <th class="c-width-140">
                                                Cost Price
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="hidden" data-name="ProductMaterialRequestDto[{ID}].SubjectTypeId" data-readonly="readonly" class="form-control" value="2">

                                                <select data-tabindex="-1" class="form-select material" data-name="ProductMaterialRequestDto[{ID}].SubjectId">
                                                    <option value="" selected>Select Raw Material</option>
                                                    @foreach (var item in (List<ProductMaterialListItem>)ViewBag.RawMaterialDropDownData)
                                                    {
                                                        <option value="@item.Value" data-UnitPrice="@item.UnitPrice">@item.Text</option>
                                                    }
                                                </select>
                                                <span class="text-danger materialErrorMsg"></span>
                                            </td>
                                            <td>
                                                <input type="text" data-name="ProductMaterialRequestDto[{ID}].MaterialPrice" data-readonly="readonly" class="form-control materialPrice" placeholder="Unit Price" readonly>
                                            </td>
                                            <td>
                                                <input type="text" data-name="ProductMaterialRequestDto[{ID}].Qty" data-readonly="readonly" class="form-control quantity" placeholder="Quantity">
                                            </td>
                                            <td>
                                                <input type="text" data-name="ProductMaterialRequestDto[{ID}].CostPrice" data-readonly="readonly" class="form-control costPrice" placeholder="Cost Price">
                                            </td>
                                            <td>
                                                <input type="hidden" data-name="ProductMaterialRequestDto[{ID}].IsDeleted" data-readonly="readonly" class="isDeleted" value="false">
                                            </td>
                                            <td>
                                                <div class="add-icon">
                                                    <i class="bx bx-plus"></i>
                                                </div>
                                            </td>
                                        </tr>
                                        @{
                                            var RawMaterial = Model?.ProductMaterialRequestDto.Where(x => x.SubjectTypeId == 2).ToList();
                                        }
                                        @if (RawMaterial != null)
                                            foreach (var item in RawMaterial)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="hidden" asp-for="ProductMaterialRequestDto[i].SubjectTypeId" data-readonly="readonly" class="form-control" value="2">
                                                        <select tabindex="-1" asp-for="ProductMaterialRequestDto[i].SubjectId" class="form-select material" data-name="ProductMaterialRequestDto[{ID}].SubjectId" data-readonly="readonly">
                                                            @foreach (var list in (List<ProductMaterialListItem>)ViewBag.RawMaterialDropDownData)
                                                            {
                                                                <option value="@list.Value" data-UnitPrice="@list.UnitPrice">@list.Text</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" asp-for="ProductMaterialRequestDto[i].MaterialPrice" data-readonly="readonly" class="form-control materialPrice" placeholder="Unit Price" readonly />
                                                    </td>
                                                    <td>
                                                        <input type="text" asp-for="ProductMaterialRequestDto[i].Qty" data-readonly="readonly" class="form-control quantity" placeholder="Quantity" readonly />
                                                    </td>
                                                    <td>
                                                        @{
                                                            var costPrice = item.Qty * item.MaterialPrice;
                                                        }
                                                        <input type="text" asp-for="ProductMaterialRequestDto[i].CostPrice" value="@costPrice" data-readonly="readonly" class="form-control costPrice" placeholder="Cost Price" readonly />
                                                    </td>
                                                    <td>
                                                        <input type="hidden" asp-for="ProductMaterialRequestDto[i].IsDeleted" data-readonly="readonly" class="form-control isDeleted" value="false">
                                                    </td>
                                                    <td>
                                                        <div class="minus-icon">
                                                            <i class="bx bx-minus"></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {
                                                    i = i + 1;
                                                }
                                            }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="c-card--wrapper c-card-sm--wrapper price-card--wrapper">
                            <div class="c-card--header">
                                <h4 class="c-card--header-title">Total Price</h4>
                            </div>
                            <div class="c-card--body">
                                <ul class="price-list--wrapper">
                                    <li class="price-list--item">
                                        <span class="price-list--title">
                                            Cost Price
                                        </span>
                                        <div class="price-list--value price-list--input">
                                            <span class="price--icon">
                                                ₹
                                            </span>
                                            <input asp-for="ProductRequestDto.CostPrice" type="text" class="form-control" placeholder="Enter Cost Price">
                                            <span asp-validation-for="ProductRequestDto.CostPrice" class="text-danger"></span>
                                        </div>
                                    </li>
                                    <li class="price-list--item">
                                        <span class="price-list--title">
                                            Retailers Price
                                        </span>
                                        <div class="price-list--value price-list--input">
                                            <span class="price--icon">
                                                ₹
                                            </span>
                                            <input asp-for="ProductRequestDto.RetailerPrice" type="text" class="form-control" placeholder="Enter Retailers Price">
                                            @*<span asp-validation-for="ProductRequestDto.RetailerPrice" class="text-danger"></span>*@
                                        </div>
                                    </li>
                                    <li class="price-list--item">
                                        <span class="price-list--title">
                                            Wholesalers Price
                                        </span>
                                        <div class="price-list--value price-list--input">
                                            <span class="price--icon">
                                                ₹
                                            </span>
                                            <input asp-for="ProductRequestDto.WholesalerPrice" type="text" class="form-control" placeholder="Enter Wholesalers Price">
                                            @*<span asp-validation-for="ProductRequestDto.WholesalerPrice" class="text-danger"></span>*@
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row c-card-footer--btn">
                    <div class="col-12">
                        <div class="c-card--wrapper c-card-sm--wrapper">
                            <div class="c-card--footer">
                                <a class="btn btn-danger" asp-action="Index" asp-controller="Product">
                                    Cancel
                                </a>
                                <input type="submit" value="Save" class="btn btn-primary ms-2" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/lib/dropzone/dropzone.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ValidatejQueryUnobtrusive");
        await Html.RenderPartialAsync("_JqueryDatatableScriptsPartial");
        <script src="~/js/Product.js" asp-append-version="true"></script>
        //<script src="~/js/ProductImage.js" asp-append-version="true"></script>
        <script>
            $(function() {
                counter = @i;
            });
        </script>
    }
}