@model List<MidCapERP.Dto.Product.ProductResponseDto>

@{
    Layout = null;
    int counter = 0;
}
<div style="width: 1000px;margin: auto;font-family: 'Nunito', sans-serif;">
    <div style="display: table;clear: both;">
        @foreach (var item in @Model)
        {
            if (counter % 3 == 0)
            {
                @Html.Raw("<div>")
            }
            <div style="max-width: 320px;width: 320px;float: left;margin: 5px;page-break-inside:avoid; page-break-after:auto;">
                <div style="padding: 10px;border: 2px dashed #242424;border-radius: 10px;">
                    <div style="text-align: center;">
                        <div>
                            <div style="display:block;color: #000000;height: 80px;margin: 0 auto 5px;">
                                <img src="" style="width: 100%;height: 100%;border-radius: 10px;overflow: hidden;object-fit: contain;object-position: top;">
                            </div>
                            <div style="text-align: center;font-size: 16px;color: #2c2c2c;font-weight: 600;height: 36px;overflow: hidden;">
                                @item.ProductTitle
                            </div>
                        </div>
                        <div style="display: table;margin: 0 auto;">
                            <img height="260px" width="260px" src="@item.QRImage" style="object-fit: contain;">
                        </div>
                        <div style="display: block;background: #efefef;padding: 5px;border-radius: 5px;padding: 8px;font-size: 16px;font-weight: 600;text-align: center;">
                            @item.ModelNo
                        </div>
                    </div>
                </div>
            </div>
            { counter++; }
            @if (counter % 3 == 0)
            {
                @Html.Raw("</div>")
            }
        }
    </div>
</div>