@model IEnumerable<MidCapERP.Dto.Contractors.ContractorsResponseDto>

<table class="table c-table c-table-stripted" id="tblContractor">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ContractorName)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.IMEI)</th>
            <th>@Html.DisplayNameFor(model => model.EmailId)</th>
            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
            <th>Action</th>
        </tr>
    </thead>
</table>