@model IEnumerable<MidCapERP.Dto.Polish.PolishResponseDto>

<table class="table c-table c-table-stripted w-100" id="tblPolish">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.ModelNo)</th>
            <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
            <th>@Html.DisplayNameFor(model => model.UnitName)</th>
            <th>@Html.DisplayNameFor(model => model.UnitPrice)</th>
            <th class="text-end">Action</th>
        </tr>
    </thead>
</table>